<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <mat-label>ایمیل</mat-label>
      <input matInput ngModel name="email" email required #email="ngModel" />
      <mat-error *ngIf="!email.hasError('required')">ایمیل نامعتبر</mat-error>
      <mat-error *ngIf="email.hasError('required')"
        >ایمیل نباید خالی باشد</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>پسورد</mat-label>
      <input
        matInput
        ngModel
        type="password"
        name="password"
        required
        minlength="6"
        #password="ngModel"
      />
      <mat-hint align="end">6 / {{ password.value.length }}</mat-hint>
      <mat-hint>حداقل کاراکتر مجاز ۶ کاراکتر</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>تاریخ تولد</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        ngModel
        name="birthday"
        required
      />
      <mat-hint>روز/ماه/سال</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required
      >توافق با قوانین و مقررات</mat-checkbox
    >
    <button
      *ngIf="!isloading"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      ثبت
    </button>
    <mat-spinner *ngIf="isloading"></mat-spinner>
  </form>
</section>
