/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.vazirmatn-light {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: light;
}
.vazirmatn-norm {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.vazirmatn-bold {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
}

body {
  margin: 0;
  height: 100%;
}
* {
  font-family: "Vazirmatn", sans-serif !important;
  font-weight: 300;
}
